pip
setuptools
wheel
numpy
pandas
scipy
torch
torchvision
torchmetrics
ml_collections
segmentation_models_pytorch
einops
matplotlib
librosa
soundfile
demucs
audiomentations
torch_audiomentations
httpx
gradio
google-api-python-client
pytube
tqdm
psutil
omegaconf
beartype
asteroid
torchseg
yt_dlp
rotary_embedding_torch
noisereduce
loralib
hyper_connections==0.1.11
pyngrok
matchering==2.0.6
pyloudnorm
gdown
validators
requests
nvidia-tensorrt
sympy
tqdm
typing_extensions
packaging
requests
opencv-python-headless
pypresence
mpmath
pillow
numpy==2.2.2

cupy-cuda12x==13.3.0
scenedetect
torch==2.7.0
torchvision==0.22.0
einops
safetensors
torch_tensorrt==2.7.0
