pip
setuptools
wheel
numpy<2.1
pandas
scipy
torch
torchaudio
torchvision
torchmetrics
ml_collections
segmentation_models_pytorch
einops
matplotlib
librosa
soundfile
demucs
audiomentations
torch_audiomentations
httpx
gradio==4.44.1
gradio-client==1.3.0
huggingface_hub==0.25.2
google-api-python-client
pytube
tqdm
psutil
omegaconf
beartype
asteroid
torchseg
yt_dlp
rotary_embedding_torch
noisereduce
loralib
hyper_connections==0.1.11
pyngrok
matchering==2.0.6
pyloudnorm
gdown
validators
requests
sympy
typing_extensions
packaging
opencv-python-headless
pypresence
mpmath
pillow
